fastapi
uvicorn[standard]
pillow
python-multipart
opencv-python-headless
pydantic-settings
python-jose[cryptography]
bcrypt
slowapi
gunicorn
requests
transformers
torch --index-url https://download.pytorch.org/whl/cpu
